@model Inventario360.Web.Models.ViewModels.CrearUsuarioViewModel

@{
    ViewBag.Title = "Crear Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2 class="mb-4">Crear Nuevo Usuario</h2>

    @using (Html.BeginForm("Crear", "Usuarios", FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

<div class="card shadow p-4">
    <div class="mb-3 text-center">
        @Html.LabelFor(m => m.NombreCompleto, htmlAttributes: new { @class = "form-label -block" })
        @Html.TextBoxFor(m => m.NombreCompleto, new { @class = "form-control mx-auto", @placeholder = "Nombre completo", style = "max-width: 600px;" })
        @Html.ValidationMessageFor(m => m.NombreCompleto, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3 text-center">
        @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control mx-auto", @placeholder = "Correo electrónico",style = "max-width: 600px;" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3 text-center">
        @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "form-label" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control mx-auto", @placeholder = "Contraseña", style = "max-width: 600px;" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3 text-center">
        @Html.LabelFor(m => m.Rol, htmlAttributes: new { @class = "form-label" })
        @Html.DropDownListFor(m => m.Rol, ViewBag.Roles as List<SelectListItem>, "-- Selecciona un rol --", new { @class = "form-select mx-auto", style = "max-width: 600px;" })
        @Html.ValidationMessageFor(m => m.Rol, "", new { @class = "text-danger" })
    </div>

    <div class="col-12 mt-3 text-end">
        <a href="@Url.Action("Index", "Usuarios")" class="btn btn-secondary ms-2">Volver</a>
        <button type="submit" class="btn btn-orange">Guardar</button>
    </div>
</div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    .table-responsive {
        overflow-x: auto;
    }

    .pagination-separated .paginate_button {
        margin: 0 8px;
    }

    .table-hover tbody tr:hover {
        background-color: #fcd8b7;
    }

    .fila-hover:hover {
        background-color: #fbdfc5;
    }

    .mb-4 {
        margin-bottom: 3rem !important;
    }

    .table-light th {
        background-color: #f8f9fa;
        font-weight: bold;
        text-align: center;
    }

    .table td {
        vertical-align: middle;
    }

    .dataTables_wrapper .dataTables_filter {
        margin-bottom: 15px;
    }

    .table-bordered {
        border: 1px solid #333 !important;
    }

        .table-bordered th, .table-bordered td {
            border: 0.5px solid #ccc !important;
        }

    table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control::before {
        background-color: #f06529 !important;
        color: white !important;
        border-radius: 50% !important;
        width: 18px !important;
        height: 18px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        font-weight: bold !important;
    }

    table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td.dtr-control::before {
        background-color: #d9531e !important;
        color: black !important;
    }
</style>
